fastapi==0.116.1
uvicorn==0.35.0
jinja2==3.1.6

transformers==4.53.2
torch==2.7.1
tokenizers==0.21.2
safetensors==0.5.3

datasets==4.0.0
pandas==2.3.1
numpy==1.26.4
scikit-learn==1.7.1

feedparser==6.0.11
beautifulsoup4==4.13.4
requests==2.32.4
python-multipart==0.0.20  # FastAPI form 지원
newspaper3k==0.2.8